/* Page Body Styles */
body{
    background-color: #e6e6e6;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    display:contents;
}



/*Page header styles*/
header{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    transition: .5s;
    z-index: 100;
}


/*Page header first nav styles*/
.nav-first{
    width: 100%;
    height: 100%;
    background-color: rgb(122, 207, 238);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    transition: .5s;
    float: left;
}

.nav-first img{
    display: block;
    height: 10vh;
    width: 11vh;
}

.nav-first .page-name a{
    text-decoration: none;
    color: rgb(9, 39, 63);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    display: block;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    margin-left: -450px;
}


.nav-first ul{
    display: flex;

}

.nav-first ul li{
    line-height: 40px;
    margin-right: 5px;
    text-align: center;
}


.home-contact{
    list-style: url(../img/ico-phone.svg);
}


.home-login{
    list-style: url(../img/ico-user.svg);
}


.home-booking{
    background-color: rgb(210, 172, 131);
    border-radius: 20px;
    color: white;
    list-style: none;
}


.li-1{
    display: block;
    padding: 0 30px 0 0;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    transition: .3s;
}

.li-1:hover{
    color: blueviolet;
}


.li-2{
    display: block;
    padding: 0 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: .3s;
}


.li-2:hover{
    background-color: gold;
    color: blueviolet;
    border-radius: 20px;
}


/* Page Header second nav Styles*/
.nav-second{
    margin-top: -16px;
}
.nav-second ul{
    list-style: none;
    background-color: rgba(0, 0, 0, .2);
}


nav{
    box-sizing: border-box;
    display: block;
    transition: 0.5s;
    text-align: center;
}


.nav-second ul li{
    display: inline-block;
    position: relative;
}


.nav-second ul li a{
    display: block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    transition: .3s ease;
    font-size: 20px;
    color: white;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 25px;

}


.nav-second ul li ul.sublist li{
    display: block;
}


.nav-second ul li ul.sublist{
    width: 100%;
    position: absolute;
    z-index: 999;
    display: none;
    padding: 0;
}


.nav-second nav a:hover{
    background-color: rgb(71, 70, 70);
}


.nav-second ul li:hover ul.sublist{
    display: block;
}


/*Page Footer Styles*/
footer{
    text-align: center;
    width: 100%;
    margin-top: -90px;
    border: 0;
    background-color: black;
    padding: 40px 0 20px 0;
}


footer a{
    padding: 0 20px;
}


footer p{
    color: white;
    opacity: 0.5;
}


.social-media{
    margin: 0;
    border: 0;
    display: inline-block;
    align-items: center;
}


/*CSS For Javascript*/
header.hidden {
    transform: translateY(-100%);
}

header.visible {
    transform: translateY(0);
}