.body {
    background-image: url("/assets/img/contactus_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -300;
  }
.main {
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    perspective: 1000px;
    margin-top: -100px;
}

.container {
    position: relative;
    z-index: -200;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    height: 500px;
    width: 20rem;
    box-shadow: 2px 25px 25px rgba(0, 0, 0, 0.2), 0 0 30px rgba(0, 0, 0, 0.5);
    border-radius: 3rem;
}


.info {
    min-height: 35vh;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info img {
    position: relative;
    z-index: -100;
    height: 300px;
    width: 20rem;
    transition: all 0.85s ease-out;
    border-radius: 100px;
}

.txt {
    text-transform: uppercase;
    text-align: center;
    transition: all 0.85s ease-out;
    font-weight: 200;
}

a{
    text-decoration: none;
    color: rgb(67, 202, 5);
}

a:hover {
    color: #e60000;
    text-decoration: none;
}

.contactus {
    background-image: url("/assets/img/contactus.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 90vh;
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    margin-bottom: 15%;
  }
  
  .contactus-content {
    margin: 5rem;
    padding-top: 200px;
  }
  
  .contactus-content h1 {
    font-size: 3.5em;
    color: white;
    background-clip: text;
    -webkit-background-clip: text;
    animation: bonce-in-top 1.1s both;
  }
  
  @keyframes bonce-in-top {
    0% {
      transform: translateY(-500px);
      animation-timing-function: ease-in;
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
  }
  
  .text {
    font-size: 2.5em;
    color: white;
  }
  
  .line div {
    margin: 0 0.3rem;
  }
  
  .line div:nth-child(1),
  .line div:nth-child(3) {
    height: 3px;
    width: 200px;
    background: white;
    border-radius: 5px;
  }
  
  .line {
    display: flex;
    align-items: center;
  }
  
  .line div:nth-child(2) {
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
  }
  
  .map{
    margin-left: 500px;
    margin-top: 30px;
    width: 30rem;
    margin-left: 500px;
    margin-top: 30px;
    height: 1000px;
  }

  .img-text{
    height: 500px;
    margin-left: 200px;
    position:absolute;
    width: 50%;
  }