/*Page Section Login Style*/
section{
    margin-top: -50px;
    margin-bottom: 200px;
}


.login-container{
    display: flex;
    height: 500px;
    width: 800px;
    border: 5px solid black;
    border-radius: 80px 0 0 0;
    margin: auto;
    margin-top: 200px;
    box-shadow: 15px 15px 20px black;
}


.login-form{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 80px 0 0 0;
}


.login-form h2{
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.box{
    padding: 12px;
    width: 65%;
    margin: 15px;
    border: 1px solid black;
    outline: none;
    border-radius: 20px;
}


#submit{
    padding: 12px 30px;
    width: 40%;
    margin-top: 40px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 20px;
    text-align: center;
}


#submit:hover{
    cursor: pointer;
    background-color: rgb(200, 140, 76);
}


.password{
    text-decoration: none;
    color:black;
    margin-top: 20px;
}


.password:hover{
    color: rgb(200, 140, 76);
}


.admin-login{
    text-decoration: none;
    margin-top: 40px;
    background-color: black;
    color: white;
    padding: 10px 30px;
    border-radius: 30px;
    text-align: center;
}


.admin-login:hover{
    background-color: rgb(200, 140, 76);
}


/*Right Side*/
.side{
    display: flex;
    background-color: rgb(200, 140, 76);
    justify-content: center;
    align-items: center;
    width: 50%;
}


.side img{
    width: 400px;
    height: 500px;
}