/* review */
/* .review .review-slider{
    border: 1px solid;
    padding: 1rem;
    margin: 50px;
}
 .review .review-slider .box{
    border: 0px solid red;
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}

.review .review-slider .box:hover{
    box-shadow: 1px 1px 10px 4px var(--green);
}

.review .review-slider .box img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

.review .review-slider .box p{
    padding: 1rem 0;
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.5rem;
}

.review .review-slider .box h3{
    padding-bottom: .5rem;
    color: var(--black);
    font-size: 2.2rem;
}

.review .review-slider .box .stars i{
   color: orange;
   font-size: 1.7rem;
} */


/* review */
/* review */
.review{
    margin-top:  20px;
    padding-top: 100px;
}

.review h1{
    padding-top: 100px;
    text-align: center;
    color:#ffffff;
    border: 5px solid white;
    border-radius: 20px 0 20px 0;
    margin: 40px;
    height: 30px;
    padding-top: 10px;
    box-shadow:10px 10px 10px rgb(77, 75, 75) ;
}

.body{
    background-image: url("/assets/img/seaview-background.jpg");
    padding-right: 3vh;
}


.box{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 600px;
    height: 500px;
    margin-left: 20px;
    margin-bottom: 50px;
    margin-top: 150px;
}
.box img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    margin-left: 100px;
    margin-top: 20px;
}

.wrapper{
    display: flex;
    margin-top: 150px;
}

.box:hover{
    background-color:  #d9d9d9;
    border: 2px solid black;
    
}

.star-rating {
    font-size: 24px;
  }
  
.star {
    color: #ccc;
}
  
.star.checked {
    color: #FFD700;
}


.review-body{
    width: 100%;
    margin: 50px 20px 0 20px;
    box-shadow: 2px 1px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: x-large; 
}

.center{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center .stars{
    height: 150px;
    width: 500px;
    text-align: center;  
}

.stars input{
    display: none;
    
}
.stars label{
    float: right;
    font-size: 30px;
    color: lightgrey;
    margin: 0 5px;
    text-shadow: 1px 1px #bbb;
    margin-left: 60px;
    margin-top: 11rem;
}

.stars label:before{
    content: '★';
}

.stars input:checked ~ label{
    color: gold;
    text-shadow: 1px 1px #c60;
}

.stars input:checked > label:hover,
.stars input:checked > label:hover ~ label{
    color: gold;
    text-shadow: 1px 1px goldenrod;
}








